In [61]:
import wbgapi as wb
import pandas as pd
import numpy as np
import time

In [75]:
wb.series.info(q=('literacy'))

id                    value
--------------------  ------------------------------------------------------------
SE.ADT.1524.LT.FE.ZS  Literacy rate, youth female (% of females ages 15-24)
SE.ADT.1524.LT.FM.ZS  Literacy rate, youth (ages 15-24), gender parity index (GPI)
SE.ADT.1524.LT.MA.ZS  Literacy rate, youth male (% of males ages 15-24)
SE.ADT.1524.LT.ZS     Literacy rate, youth total (% of people ages 15-24)
SE.ADT.LITR.FE.ZS     Literacy rate, adult female (% of females ages 15 and above)
SE.ADT.LITR.MA.ZS     Literacy rate, adult male (% of males ages 15 and above)
SE.ADT.LITR.ZS        Literacy rate, adult total (% of people ages 15 and above)
                      7 elements

In [63]:


paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                   'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER',
                    'ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

test = wb.data.fetch('SP.POP.TOTL', paises_lista)

In [64]:
def getDataFrameDatabank(paises_lista, diccionario_de_datos):
    dataset = np.array([]) 

    for i in diccionario_de_datos.items():
        test = wb.data.fetch(i[0], paises_lista)  # Obtener los datos del indicador económico para los países dados
        time.sleep(1)  # Esperar 1 segundo (pausa)
        lista_de_paises = []  # Lista para almacenar los nombres de los países
        lista_de_años = []  # Lista para almacenar los años
        lista_de_indicadores = []  # Lista para almacenar los datos

        for a in test:
            lista_de_paises.append(a['economy'])  # Agregar el nombre del país a la lista
            lista_de_años.append((a['time'][2::]))  # Agregar el año a la lista
            lista_de_indicadores.append((a['value']))  # Agregar el valor del indicador económico a la lista

        add = {'title': i[1], 'economy': lista_de_paises, 'time': lista_de_años, 'value': lista_de_indicadores}  # Crear un diccionario con los datos del indicador
        dataset = np.append(dataset, add)  # Agregar el diccionario al dataset

    # Validación de las dimensiones de los datos
    for i in range(0, len(dataset)):
        print('dimention of data list: ' + str(dataset[i]['title']))  # Imprimir el título del indicador económico
        print(len(dataset[i]['value']))  # Imprimir la longitud de la lista de valores del indicador

    for i in range(0, len(dataset) - 1):
        if dataset[i]['time'] == dataset[i + 1]['time']:
            print('is equal times')  # Imprimir mensaje si los tiempos son iguales entre indicadores consecutivos
        if dataset[i]['economy'] == dataset[i + 1]['economy']:
            print('is equal countries')  # Imprimir mensaje si los países son iguales entre indicadores consecutivos

    # Exportar los datos a un DataFrame
    tabla_indicadores = pd.DataFrame()
    tabla_indicadores['country'] = dataset[0]['economy']  # Crear columna 'country' en el DataFrame y asignar los nombres de los países del primer indicador económico
    tabla_indicadores['year'] = dataset[0]['time']  # Crear columna 'year' en el DataFrame y asignar los años del primer indicador económico

    for i in range(0, len(dataset)):
        tabla_indicadores[dataset[i]['title']] = dataset[i]['value']  # Crear columna para cada indicador económico en el DataFrame

    return tabla_indicadores

In [ ]:
def getDataFrameDatabank(paises_lista,diccionario_de_datos):
    dataset = np.array([])
    for i in diccionario_de_datos.items():
        test = wb.data.fetch(i[0], paises_lista)
        time.sleep(1)
        lista_de_paises = []
        lista_de_años = []
        lista_de_indicadores = []
        for a in test:
            lista_de_paises.append(a['economy'])
            lista_de_años.append((a['time'][2::]))
            lista_de_indicadores.append((a['value']))
        add = {'title':i[1],
            'economy':lista_de_paises,
            'time':lista_de_años,
            'value':lista_de_indicadores}
        dataset = np.append(dataset, add)

    #validation data dimentions

    for i in range(0,len(dataset)):
        print('dimention of data list: '+str(dataset[i]['title']))
        print(len(dataset[i]['value']))

    for i in range(0,len(dataset)-1):
        if (dataset[i]['time'] == dataset[i+1]['time']):
            print('is equal times')
        if (dataset[i]['economy'] == dataset[i+1]['economy']):
            print('is equal countries')

    # tabla_indicadores export
    tabla_indicadores = pd.DataFrame()
    tabla_indicadores['country'] = dataset[0]['economy'] 
    tabla_indicadores['year'] = dataset[0]['time'] 
    for i in range(0,len(dataset)):
        tabla_indicadores[dataset[i]['title']] = dataset[i]['value'] 
    return tabla_indicadores

In [94]:
paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                   'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER',
                    'ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

diccionario_de_datos = {'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
    'NY.GDP.PCAP.CD': 'GDP per capita (current US$)',
    'SE.ADT.LITR.ZS': 'Literacy rate, adult total (% of people ages 15 and above)',
    'SH.XPD.CHEX.PC.CD': 'Current health expenditure per capita (current US$)',
    'CC.EST': 'Control of Corruption: Estimate',
    'SH.STA.SUIC.P5': 'Suicide mortality rate (per 100,000 population)',
    'NY.GNP.MKTP.CD': 'GNI (current US$)',
    'EG.CFT.ACCS.ZS': 'Access to clean fuels and technologies for cooking (% of population)'}

tabla_indicadores1 = getDataFrameDatabank(paises_lista, diccionario_de_datos)

dimention of data list: Life expectancy at birth, total (years)
1890
dimention of data list: GDP per capita (current US$)
1890
dimention of data list: Literacy rate, adult total (% of people ages 15 and above)
1890
dimention of data list: Current health expenditure per capita (current US$)
1890
dimention of data list: Control of Corruption: Estimate
1890
dimention of data list: Suicide mortality rate (per 100,000 population)
1890
dimention of data list: GNI (current US$)
1890
dimention of data list: Access to clean fuels and technologies for cooking (% of population)
1890
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries

In [95]:
tabla_indicadores1

,country,year,"Life expectancy at birth, total (years)",GDP per capita (current US$),"Literacy rate, adult total (% of people ages 15 and above)",Current health expenditure per capita (current US$),Control of Corruption: Estimate,"Suicide mortality rate (per 100,000 population)",GNI (current US$),Access to clean fuels and technologies for cooking (% of population)
0,MAR,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAR,2021,74.042000,3795.380127,75.930000,NaN,-0.433994,NaN,1.409217e+11,NaN
2,MAR,2020,73.920000,3258.121338,NaN,187.404007,-0.420345,NaN,1.201880e+11,98.1
3,MAR,2019,74.270000,3498.573975,NaN,177.247940,-0.339404,7.2,1.269783e+11,98.0
4,MAR,2018,73.986000,3492.673340,73.750008,175.276031,-0.266063,7.2,1.254254e+11,97.9
...,...,...,...,...,...,...,...,...,...,...
1885,DEU,1964,70.435561,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,DEU,1963,69.914073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887,DEU,1962,69.799220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1888,DEU,1961,69.644878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1889,DEU,1960,69.064073,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                   'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER',
                    'ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

diccionario_de_datos = {'NY.GDP.MKTP.CD': 'GDP (current US$)',
    'SH.STA.TRAF.P5': 'Mortality caused by road traffic injury (per 100,000 population)',
    'SH.MED.BEDS.ZS': 'Hospital beds (per 1,000 people)',
    'SH.H2O.SMDW.ZS': 'People using safely managed drinking water services (% of population)',
    'SP.URB.TOTL.IN.ZS': 'Urban population (% of total population)',
    'SP.RUR.TOTL.ZS': 'Rural population (% of total population)'}

tabla_indicadores2 = getDataFrameDatabank(paises_lista, diccionario_de_datos)

dimention of data list: GDP (current US$)
1890
dimention of data list: Mortality caused by road traffic injury (per 100,000 population)
1890
dimention of data list: Hospital beds (per 1,000 people)
1890
dimention of data list: People using safely managed drinking water services (% of population)
1890
dimention of data list: Urban population (% of total population)
1890
dimention of data list: Rural population (% of total population)
1890
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries
is equal times
is equal countries

In [101]:
tabla_indicadores2

,country,year,GDP (current US$),"Mortality caused by road traffic injury (per 100,000 population)","Hospital beds (per 1,000 people)",People using safely managed drinking water services (% of population),Urban population (% of total population),Rural population (% of total population)
0,MAR,2022,NaN,NaN,NaN,NaN,NaN,NaN
1,MAR,2021,1.428663e+11,NaN,NaN,NaN,64.065,35.935
2,MAR,2020,1.213481e+11,NaN,NaN,79.949576,63.532,36.468
3,MAR,2019,1.289199e+11,17.0,NaN,78.370371,62.994,37.006
4,MAR,2018,1.273412e+11,17.7,NaN,76.793340,62.453,37.547
...,...,...,...,...,...,...,...,...
1885,DEU,1964,NaN,NaN,NaN,NaN,71.891,28.109
1886,DEU,1963,NaN,NaN,NaN,NaN,71.826,28.174
1887,DEU,1962,NaN,NaN,NaN,NaN,71.762,28.238
1888,DEU,1961,NaN,NaN,NaN,NaN,71.697,28.303
1889,DEU,1960,NaN,NaN,10.5,NaN,71.384,28.616

In [100]:
#ERROR DE CARGA, POR TAMAÑO
#paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE','ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER','ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

#diccionario_de_datos = {'SH.STA.BASS.Z': 'People using at least basic sanitation services (% of population)'}

#tabla_indicadores3 = getDataFrameDatabank(paises_lista, diccionario_de_datos)