In [1]:
import pandas as pd
import wbgapi as wb
import pandas as pd
import numpy as np
import time

## TABLA PAISES

In [19]:
dicionario_contiente_paises={    'Alemania': 'EU',
    'Australia': 'OC',
    'Canadá': 'NA',
    'España': 'EU',
    'Estados Unidos': 'NA',
    'Italia': 'EU',
    'Japón': 'AS',
    'Reino Unido': 'EU',
    'Rusia': 'EU',
    'Suecia': 'EU',
    'Albania': 'EU',
    'Argentina': 'SA',
    'Brasil': 'SA',
    'Colombia': 'SA',
    'Vietnam': 'AS',
    'Filipinas': 'AS',
    'India': 'AS',
    'Indonesia': 'AS',
    'México': 'NA',
    'Perú': 'SA',
    'Sudáfrica': 'AF',
    'Tailandia': 'AS',
    'Afganistán': 'AS',
    'Bangladesh': 'AS',
    'Egipto': 'AF',
    'Etiopía': 'AF',
    'Iraq': 'AS',
    'Irán': 'AS',
    'Kenia': 'AF',
    'Marruecos': 'AF'
}

In [26]:
dicionario_contiente_paises={    'Alemania': 'EU','Australia': 'OC','Canadá': 'NA','España': 'EU','Estados Unidos': 'NA','Italia': 'EU',
    'Japón': 'AS',
    'Reino Unido': 'EU',
    'Rusia': 'EU',
    'Suecia': 'EU',
    'Albania': 'EU',
    'Argentina': 'SA',
    'Brasil': 'SA',
    'Colombia': 'SA',
    'Vietnam': 'AS',
    'Filipinas': 'AS',
    'India': 'AS',
    'Indonesia': 'AS',
    'México': 'NA',
    'Perú': 'SA',
    'Sudáfrica': 'AF',
    'Tailandia': 'AS',
    'Afganistán': 'AS',
    'Bangladesh': 'AS',
    'Egipto': 'AF',
    'Etiopía': 'AF',
    'Iraq': 'AS',
    'Irán': 'AS',
    'Kenia': 'AF',
    'Marruecos': 'AF'
}
diccionario_paises = {'DEU': 'Alemania','AUS': 'Australia','CAN': 'Canadá','ESP': 'España','USA': 'Estados Unidos','ITA': 'Italia',
    'JPN': 'Japón','GBR': 'Reino Unido','RUS': 'Rusia','SWE': 'Suecia','ALB': 'Albania','ARG': 'Argentina','BRA': 'Brasil',
    'COL': 'Colombia','VNM': 'Vietnam','PHL': 'Filipinas','IND': 'India','IDN': 'Indonesia','MEX': 'México','PER': 'Perú',
    'ZAF': 'Sudáfrica','THA': 'Tailandia','AFG': 'Afganistán','BGD': 'Bangladesh','EGY': 'Egipto','ETH': 'Etiopía','IRQ': 'Iraq',
    'IRN': 'Irán','KEN': 'Kenia','MAR': 'Marruecos'
}

# Crear una lista con los códigos de país
country_code = list(diccionario_paises.keys())

# Crear una lista con los nombres de los países
country_name = list(diccionario_paises.values())

# Crear una lista con los códigos de continentes
continente_code = list(dicionario_contiente_paises.values())

# Crear una lista con las situaciones económicas
economic_situation = ['1', '1', '1', '1', '1',
                     '1', '1', '1', '1', '1',
                     '0', '0', '0', '0', '0',
                     '0', '0', '0', '0', '0',
                     '0', '0', '0', '0', '0',
                     '0', '0', '0', '0', '0']

# Crear el DataFrame con las columnas especificadas
tabla_paises = pd.DataFrame({'COD_PAIS': country_code,
                   'NOMBRE_PAIS': country_name,
                   'COD_CONTINENTE': continente_code,
                   'COD_ECONOMIA': economic_situation})

# tabla_paises.insert(0, 'id_pais', range(1, 1 + len(tabla_paises)))
# tabla_paises['id_pais'] = tabla_paises['id_pais'].apply(lambda x: '{:04}'.format(x))

In [27]:
tabla_paises

   COD_PAIS     NOMBRE_PAIS COD_CONTINENTE COD_ECONOMIA
0       DEU        Alemania             EU            1
1       AUS       Australia             OC            1
2       CAN          Canadá             NA            1
3       ESP          España             EU            1
4       USA  Estados Unidos             NA            1
5       ITA          Italia             EU            1
6       JPN           Japón             AS            1
7       GBR     Reino Unido             EU            1
8       RUS           Rusia             EU            1
9       SWE          Suecia             EU            1
10      ALB         Albania             EU            0
11      ARG       Argentina             SA            0
12      BRA          Brasil             SA            0
13      COL        Colombia             SA            0
14      VNM         Vietnam             AS            0
15      PHL       Filipinas             AS            0
16      IND           India             AS            0
17      IDN       Indonesia             AS            0
18      MEX          México             NA            0
19      PER            Perú             SA            0
20      ZAF       Sudáfrica             AF            0
21      THA       Tailandia             AS            0
22      AFG      Afganistán             AS            0
23      BGD      Bangladesh             AS            0
24      EGY          Egipto             AF            0
25      ETH         Etiopía             AF            0
26      IRQ            Iraq             AS            0
27      IRN            Irán             AS            0
28      KEN           Kenia             AF            0
29      MAR       Marruecos             AF            0

In [28]:
tabla_paises.to_csv('paises.csv', index=False)

## TABLA CONTINENTES

In [9]:
continentes = {
    'COD_CONTINENTE': ['AF', 'AN', 'AS', 'EU', 'NA', 'OC', 'SA'],
    'NOMBRE_CONTINENTE': ['África', 'Antártida', 'Asia', 'Europa', 'América del Norte', 'Oceanía', 'América del Sur']
}

tabla_continentes = pd.DataFrame(continentes)

# tabla_continentes.insert(0, 'id_continente', range(1, 1 + len(tabla_continentes)))
# tabla_continentes['id_continente'] = tabla_continentes['id_continente'].apply(lambda x: '{:04}'.format(x))

In [10]:
tabla_continentes

  COD_CONTINENTE  NOMBRE_CONTINENTE
0             AF             África
1             AN          Antártida
2             AS               Asia
3             EU             Europa
4             NA  América del Norte
5             OC            Oceanía
6             SA    América del Sur

In [11]:
tabla_continentes.to_csv('continentes.csv', index=False)

## TABLA ECONOMIA

In [12]:
economy={
    'COD_ECONOMIA': ['1', '0'],
    'NOMBRE_ECONOMIA': ['desarrollado','en desarrollo']
}

tabla_economia = pd.DataFrame(economy)

# tabla_economia.insert(0, 'id_economi', range(1, 1 + len(tabla_economia)))
# tabla_economia['id_economi'] = tabla_economia['id_economi'].apply(lambda x: '{:03}'.format(x))

In [13]:
tabla_economia

  COD_ECONOMIA NOMBRE_ECONOMIA
0            1    desarrollado
1            0   en desarrollo

In [14]:
tabla_economia.to_csv('economia.csv', index=False)

## TABLA INDICADOR

In [15]:
diccionario_de_datos = {'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
    'NY.GDP.PCAP.CD': 'GDP per capita (current US$)',
    'NY.GNP.MKTP.CD': 'GNI (current US$)',
    'NY.GDP.MKTP.CD': 'GDP (current US$)',
    'SP.URB.TOTL.IN.ZS': 'Urban population (% of total population)',
    'SP.RUR.TOTL.ZS': 'Rural population (% of total population)',
    'MS.MIL.XPND.GD.ZS': 'Military expenditure (% of GDP)',
    'NE.CON.GOVT.CD':'General government final consumption expenditure (current US$)',
    'SP.POP.GROW':'Population growth (annual %)',
    'EG.ELC.ACCS.ZS': 'Access to electricity (% of population)',
    'TX.VAL.FOOD.ZS.UN':'Food exports (% of merchandise exports)',
    'AG.PRD.FOOD.XD':'Food production index (2014-2016 = 100)',
    'NE.CON.PRVT.ZS': 'Households and NPISHs final consumption expenditure (% of GDP)'
    }

In [16]:
# Crear un DataFrame a partir del diccionario
indicadores = pd.DataFrame(list(diccionario_de_datos.items()), columns=['COD_INDICADOR', 'NOMBRE_INDICADOR'])

# Agregar la columna "ID" con números de 4 dígitos
# indicadores.insert(0, 'id_income', range(1, 1 + len(indicadores)))
# indicadores['id_income'] = indicadores['id_income'].apply(lambda x: '{:02}'.format(x))

In [18]:
indicadores.to_csv('indicadores.csv', index=False)

In [17]:
indicadores

        COD_INDICADOR                                   NOMBRE_INDICADOR
0      SP.DYN.LE00.IN            Life expectancy at birth, total (years)
1      NY.GDP.PCAP.CD                       GDP per capita (current US$)
2      NY.GNP.MKTP.CD                                  GNI (current US$)
3      NY.GDP.MKTP.CD                                  GDP (current US$)
4   SP.URB.TOTL.IN.ZS           Urban population (% of total population)
5      SP.RUR.TOTL.ZS           Rural population (% of total population)
6   MS.MIL.XPND.GD.ZS                    Military expenditure (% of GDP)
7      NE.CON.GOVT.CD  General government final consumption expenditu...
8         SP.POP.GROW                       Population growth (annual %)
9      EG.ELC.ACCS.ZS            Access to electricity (% of population)
10  TX.VAL.FOOD.ZS.UN            Food exports (% of merchandise exports)
11     AG.PRD.FOOD.XD            Food production index (2014-2016 = 100)
12     NE.CON.PRVT.ZS  Households and NPISHs final consumption expend...

## TABLAS PRINCIPALES

In [2]:
def getDataFrameDatabank(paises_lista, diccionario_de_datos):
    dataset = np.array([]) 

    for i in diccionario_de_datos.items():
        test = wb.data.fetch(i[0], paises_lista)  # Obtener los datos del indicador económico para los países dados
        time.sleep(1)  # Esperar 1 segundo (pausa)
        lista_de_paises = []  # Lista para almacenar los nombres de los países
        lista_de_años = []  # Lista para almacenar los años
        lista_de_indicadores = []  # Lista para almacenar los datos

        for a in test:
            year = int(a['time'][2::])
            if year >= 1990 and year <= 2021:
                lista_de_paises.append(a['economy'])  # Agregar el nombre del país a la lista
                lista_de_años.append(year)  # Agregar el año a la lista
                lista_de_indicadores.append(a['value'])  # Agregar el valor del indicador económico a la lista

        add = {'title': i[1], 'economy': lista_de_paises, 'time': lista_de_años, 'value': lista_de_indicadores}  # Crear un diccionario con los datos del indicador
        dataset = np.append(dataset, add)  # Agregar el diccionario al dataset

    # Validación de las dimensiones de los datos
    for i in range(0, len(dataset)):
        print('dimention of data list: ' + str(dataset[i]['title']))  # Imprimir el título del indicador económico
        print(len(dataset[i]['value']))  # Imprimir la longitud de la lista de valores del indicador

    for i in range(0, len(dataset) - 1):
        if dataset[i]['time'] == dataset[i + 1]['time']:
            print('is equal times')  # Imprimir mensaje si los tiempos son iguales entre indicadores consecutivos
        if dataset[i]['economy'] == dataset[i + 1]['economy']:
            print('is equal countries')  # Imprimir mensaje si los países son iguales entre indicadores consecutivos

    # Exportar los datos a un DataFrame
    tabla_indicadores = pd.DataFrame()
    tabla_indicadores['country'] = dataset[0]['economy']  # Crear columna 'country' en el DataFrame y asignar los nombres de los países del primer indicador económico
    tabla_indicadores['year'] = dataset[0]['time']  # Crear columna 'year' en el DataFrame y asignar los años del primer indicador económico

    for i in range(0, len(dataset)):
        years = dataset[i]['time']
        values = dataset[i]['value']
        filtered_years = []
        filtered_values = []

        for j in range(len(years)):
            year = int(years[j])
            if year >= 1990 and year <= 2021:
                filtered_years.append(years[j])
                filtered_values.append(values[j])

        tabla_indicadores[dataset[i]['title']] = filtered_values  # Crear columna para cada indicador económico en el DataFrame

    return tabla_indicadores

In [6]:
paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER','ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

diccionario_de_datos = {'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
    'NY.GDP.PCAP.CD': 'GDP per capita (current US$)',
    'NY.GNP.MKTP.CD': 'GNI (current US$)',
    'NY.GDP.MKTP.CD': 'GDP (current US$)',
    'SP.URB.TOTL.IN.ZS': 'Urban population (% of total population)',
    'SP.RUR.TOTL.ZS': 'Rural population (% of total population)',
    'MS.MIL.XPND.GD.ZS': 'Military expenditure (% of GDP)',
    'NE.CON.GOVT.CD':'General government final consumption expenditure (current US$)',
    'SP.POP.GROW':'Population growth (annual %)',
    'EG.ELC.ACCS.ZS': 'Access to electricity (% of population)',
    'TX.VAL.FOOD.ZS.UN':'Food exports (% of merchandise exports)',
    'AG.PRD.FOOD.XD':'Food production index (2014-2016 = 100)',
    'NE.CON.PRVT.ZS': 'Households and NPISHs final consumption expenditure (% of GDP)'
    }

In [7]:

def generateTables(paises_lista, diccionario_de_datos):
    def getDataFrameDatabank(paises_lista, diccionario_de_datos):
        dataset = np.array([])

        for i in diccionario_de_datos.items():
            test = wb.data.fetch(i[0], paises_lista)
            time.sleep(1)
            lista_de_paises = []
            lista_de_años = []
            lista_de_indicadores = []

            for a in test:
                year = int(a['time'][2::])
                if year >= 1990 and year <= 2021:
                    lista_de_paises.append(a['economy'])
                    lista_de_años.append(year)
                    lista_de_indicadores.append(a['value'])

            add = {'title': i[1], 'economy': lista_de_paises, 'time': lista_de_años, 'value': lista_de_indicadores}
            dataset = np.append(dataset, add)

        for i in range(0, len(dataset)):
            print('Dimension of data list: ' + str(dataset[i]['title']))
            print(len(dataset[i]['value']))

        for i in range(0, len(dataset) - 1):
            if dataset[i]['time'] == dataset[i + 1]['time']:
                print('Is equal times')
            if dataset[i]['economy'] == dataset[i + 1]['economy']:
                print('Is equal countries')

        tabla_indicadores = pd.DataFrame()
        tabla_indicadores['country'] = dataset[0]['economy']
        tabla_indicadores['year'] = dataset[0]['time']
        
        for i in range(0, len(dataset)):
            years = dataset[i]['time']
            values = dataset[i]['value']
            filtered_years = []
            filtered_values = []

            for j in range(len(years)):
                year = int(years[j])
                if year >= 1990 and year <= 2021:
                    filtered_years.append(years[j])
                    filtered_values.append(values[j])

            tabla_indicadores[dataset[i]['title']] = filtered_values

        return tabla_indicadores

    tables = {}

    for code, name in diccionario_de_datos.items():
        tables[name] = getDataFrameDatabank(paises_lista, {code: name})

    return tables

# Ejemplo de uso
tables = generateTables(paises_lista, diccionario_de_datos)

# Acceder a una tabla específica por nombre
life_expectancy_table = tables['Life expectancy at birth, total (years)']
GDP_Ppercapita = tables['GDP per capita (current US$)']
GNI_current_US = tables['GNI (current US$)']
GDP_current_US = tables['GDP (current US$)']
Urban_population = tables['Urban population (% of total population)']
Rural_population = tables['Rural population (% of total population)']
Military_expenditure = tables['Military expenditure (% of GDP)']
General_government_final_consumption_expenditure = tables['General government final consumption expenditure (current US$)']
Population_growth = tables['Population growth (annual %)']
Food_exports = tables['Food exports (% of merchandise exports)']
Food_production_index = tables['Food production index (2014-2016 = 100)']
Households_and_NPISHs = tables['Households and NPISHs final consumption expenditure (% of GDP)']

Dimension of data list: Life expectancy at birth, total (years)
960
Dimension of data list: GDP per capita (current US$)
960
Dimension of data list: GNI (current US$)
960
Dimension of data list: GDP (current US$)
960
Dimension of data list: Urban population (% of total population)
960
Dimension of data list: Rural population (% of total population)
960
Dimension of data list: Military expenditure (% of GDP)
960
Dimension of data list: General government final consumption expenditure (current US$)
960
Dimension of data list: Population growth (annual %)
960
Dimension of data list: Access to electricity (% of population)
960
Dimension of data list: Food exports (% of merchandise exports)
960
Dimension of data list: Food production index (2014-2016 = 100)
960
Dimension of data list: Households and NPISHs final consumption expenditure (% of GDP)
960

In [8]:
# Acceder a una tabla específica por nombre
cod_indicador_life_expectancy_table = 'SP.DYN.LE00.IN'
cod_indicador_GDP_Ppercapita = 'NY.GDP.PCAP.CD'
cod_indicador_GNI_current_US = 'NY.GNP.MKTP.CD'
cod_indicador_GDP_current_US = 'NY.GDP.MKTP.CD'
cod_indicador_Urban_population = 'SP.URB.TOTL.IN.ZS'
cod_indicador_Rural_population = 'SP.RUR.TOTL.ZS'
cod_indicador_Military_expenditure = 'MS.MIL.XPND.GD.ZS'
cod_indicador_General_government_final_consumption_expenditure = 'NE.CON.GOVT.CD'
cod_indicador_Population_growth = 'SP.POP.GROW'
cod_indicador_Food_exports = 'TX.VAL.FOOD.ZS.UN'
cod_indicador_Food_production_index = 'AG.PRD.FOOD.XD'
cod_indicador_Households_and_NPISHs = 'NE.CON.PRVT.ZS'

In [93]:
tabla_list = [
    life_expectancy_table,
    GDP_Ppercapita,
    GNI_current_US,
    GDP_current_US,
    Urban_population,
    Rural_population,
    Military_expenditure,
    General_government_final_consumption_expenditure,
    Population_growth,
    Food_exports,
    Food_production_index,
    Households_and_NPISHs
]

nombre_anterior = tabla_list[0].columns[-1]
nuevo_nombre = 'valor'

for tabla in tabla_list:
    tabla.rename(columns={nombre_anterior: nuevo_nombre}, inplace=True)

In [9]:
tabla_list = [
    life_expectancy_table,
    GDP_Ppercapita,
    GNI_current_US,
    GDP_current_US,
    Urban_population,
    Rural_population,
    Military_expenditure,
    General_government_final_consumption_expenditure,
    Population_growth,
    Food_exports,
    Food_production_index,
    Households_and_NPISHs
]

nuevo_nombre = 'valor'

for tabla in tabla_list:
    tabla.columns.values[-1] = nuevo_nombre

In [11]:

# Suponiendo que 'tabla' es tu tabla existent

# Crear una nueva columna con el mismo valor para todas las filas
life_expectancy_table.insert(2, 'cod_indicador', cod_indicador_life_expectancy_table)
GDP_Ppercapita.insert(2, 'cod_indicador', cod_indicador_GDP_Ppercapita)
GNI_current_US.insert(2, 'cod_indicador', cod_indicador_GNI_current_US)
GDP_current_US.insert(2, 'cod_indicador', cod_indicador_GDP_current_US)
Urban_population.insert(2, 'cod_indicador', cod_indicador_Urban_population)
Rural_population.insert(2, 'cod_indicador', cod_indicador_Rural_population)
Military_expenditure.insert(2, 'cod_indicador', cod_indicador_Military_expenditure)
General_government_final_consumption_expenditure.insert(2, 'cod_indicador', cod_indicador_General_government_final_consumption_expenditure)
Population_growth.insert(2, 'cod_indicador', cod_indicador_Population_growth)
Food_exports.insert(2, 'cod_indicador', cod_indicador_Food_exports)
Food_production_index.insert(2, 'cod_indicador', cod_indicador_Food_production_index)
Households_and_NPISHs.insert(2, 'cod_indicador', cod_indicador_Households_and_NPISHs)

In [12]:
tabla_concatenada = life_expectancy_table.append([GDP_Ppercapita,
    GNI_current_US,
    GDP_current_US,
    Urban_population,
    Rural_population,
    Military_expenditure,
    General_government_final_consumption_expenditure,
    Population_growth,
    Food_exports,
    Food_production_index,
    Households_and_NPISHs], ignore_index=True)

C:\Users\KEYLLA\AppData\Local\Temp\ipykernel_24456\2916504663.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabla_concatenada = life_expectancy_table.append([GDP_Ppercapita,

In [13]:
tabla_concatenada

      country  year   cod_indicador      valor
0         MAR  2021  SP.DYN.LE00.IN  74.042000
1         MAR  2020  SP.DYN.LE00.IN  73.920000
2         MAR  2019  SP.DYN.LE00.IN  74.270000
3         MAR  2018  SP.DYN.LE00.IN  73.986000
4         MAR  2017  SP.DYN.LE00.IN  73.660000
...       ...   ...             ...        ...
11515     DEU  1994  NE.CON.PRVT.ZS  56.191960
11516     DEU  1993  NE.CON.PRVT.ZS  56.659527
11517     DEU  1992  NE.CON.PRVT.ZS  56.020293
11518     DEU  1991  NE.CON.PRVT.ZS  56.038277
11519     DEU  1990  NE.CON.PRVT.ZS  56.346298

[11520 rows x 4 columns]